<section class="section">

    <nav class="level">
        <a routerLink="/"
           class="button is-info">
            <fa-icon [icon]="faArrowLeft" class="back-icon"></fa-icon>
            Back
        </a>
    </nav>

    <div class="container" *ngIf="cityForecast">
        <div class="columns">
            <app-city-card *ngIf="cityWeather"
                           [card]="cityWeather"
                           class="column is-one-quarter"
            ></app-city-card>

            <app-forecast-list [forecast]="cityForecast"
                               class="column"></app-forecast-list>
        </div>
    </div>
    <div *ngIf="!cityForecast">
        The city you're looking for wasn't found ;(
    </div>
</section>
