app-city-card {
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.1, 1, 0.1, 3);

    &:focus {
        outline-width: 0;
    }

    // How to manipulate a child component using ::ng-deep
    ::ng-deep .card {
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            background-image: linear-gradient(141deg, #04a6d7 0%, #209cee 71%, #3287f5 100%);
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            bottom: 0;
            transition: top .2s ease;
            z-index: -1;
        }
    }

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
        transform: translate3d(0, -6px, 0);

        ::ng-deep .card {
            &:before {
                top: 0;
            }

            * {
                color: white;
            }
        }
    }
}
